@{
    // Since Address isn't a string, it requires a cast.
    ViewData["Title"] = "Contact";
    var address = ViewData["Address"] as AddressViewModel;

}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
  

    @ViewData["Message"] World!
    <address>
        @address.Name<br>
        @address.Street<br>
        @address.City, @address.State @address.PostalCode
    </address>
</section>