<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->

    <li class="nav-item @(Html.IsMenuActive("/") ? "active" : "")">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><i class="fa fa-link"></i> Home</a>
    </li>

    <li class="nav-item @(Html.IsMenuActive("/Home/Privacy") ? "active" : "")">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy"><i class="fa fa-link"></i> Privacy</a>
    </li>

    <li class="nav-item @(Html.IsMenuActive("/Home/Contact") ? "active" : "")">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact"><i class="fa fa-link"></i> Contact</a>
    </li>

    <li class="nav-item @(Html.IsMenuActive("/Home/About") ? "active" : "")">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="About"><i class="fa fa-link"></i> About</a>
    </li>

    <li class="treeview @(Html.IsMenuActive("/Contactos") ? "active" : "")">
        <a href="/Contactos">
            <i class="fa fa-users"></i> <span>Relaciones</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            <li class="nav-item @(Html.IsMenuActive("/Documentos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Documentos" asp-action="Index"><i class="fa fa-user"></i> Documentos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/DocumentoTipos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="DocumentoTipos" asp-action="Index"><i class="fa fa-user"></i> Documento Tipos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Personas") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Personas" asp-action="Index"><i class="fa fa-user"></i> Personas</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Empresas" asp-action="Index"><i class="fa fa-building-o"></i> Organizaciones</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Contactos" asp-action="Index"><i class="fa fa-users"></i> Todos los Contactos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Clientes" asp-action="Index"><i class="fa fa-user"></i> Clientes</a>
            </li>

            <li class="treeview @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                <a href="/Contactos">
                    <i class="fa fa-users"></i> <span>Definiciones</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="nav-item @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                        <a class="nav-link text-dark" asp-controller="DocumentoTipos" asp-action="Index"><i class="fa fa-link"></i> Documento Tipos</a>
                    </li>

                    <li class="nav-item @(Html.IsMenuActive("/Contactos") ? "active" : "")">
                        <a class="nav-link text-dark" asp-controller="Documentos" asp-action="Index"><i class="fa fa-link"></i> Documentos</a>
                    </li>
                </ul>

            </li>
        </ul>
    </li>

    <li class="treeview @(Html.IsMenuActive("/Localidades") ? "active" : "")">
        <a href="/Paises">
            <i class="fa fa-globe"></i> <span>Localidades</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="nav-item @(Html.IsMenuActive("/Paises") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Paises" asp-action="Index"><i class="fa fa-map"></i> Paises</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Provincias") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Provincias" asp-action="Index"><i class="fa fa-map-marker"></i> Provincias</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/Municipios") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Municipios" asp-action="Index"><i class="fa fa-map-marker"></i> Municipios</a>
            </li>
            <li class="nav-item @(Html.IsMenuActive("/Distritos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Distritos" asp-action="Index"><i class="fa fa-map-marker"></i> Distritos</a>
            </li>
            <li class="nav-item @(Html.IsMenuActive("/Sectores") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="Sectores" asp-action="Index"><i class="fa fa-map-marker"></i> Sectores</a>
            </li>
        </ul>
    </li>

    <li class="treeview @(Html.IsMenuActive("/InventarioAlmacenes") ? "active" : "")">
        <a href="/Paises">
            <i class="fa fa-cubes"></i> <span>Inventarios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            <li class="nav-item @(Html.IsMenuActive("/InventarioAlmacenes") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioAlmacenes" asp-action="Index"><i class="fa fa-cube"></i> Almacenes</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Artículos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Clases</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Tipos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Categorias</a>
            </li>


            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Marcas</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Modelos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Unidades</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/InventarioArticulos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="InventarioArticulos" asp-action="Index"><i class="fa fa-tags"></i> Ubicaciones</a>
            </li>


        </ul>
    </li>

    <li class="treeview @(Html.IsMenuActive("/Seguridad") ? "active" : "")">
        <a href="/Seguridad">
            <i class="fa fa-cubes"></i> <span>Seguridad</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            <li class="nav-item @(Html.IsMenuActive("/SeguridadGrupos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="SeguridadGrupos" asp-action="Index"><i class="fa fa-tags"></i> Grupos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/SeguridadTipos") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="SeguridadTipos" asp-action="Index"><i class="fa fa-tags"></i> Tipos</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/SeguridadOpciones") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="SeguridadOpciones" asp-action="Index"><i class="fa fa-tags"></i> Opciones</a>
            </li>

            <li class="nav-item @(Html.IsMenuActive("/SeguridadFormularios") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="SeguridadFormularios" asp-action="Index"><i class="fa fa-tags"></i> Formularios</a>
            </li>


            <li class="nav-item @(Html.IsMenuActive("/SeguridadUsuarios") ? "active" : "")">
                <a class="nav-link text-dark" asp-controller="SeguridadUsuarios" asp-action="Index"><i class="fa fa-tags"></i> Usuarios</a>
            </li>
        </ul>
    </li>
</ul>